## Deliverable 2. Create a Customer Travel Destinations Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,45.48,95,83,14.09,light rain
1,1,Airai,TL,-8.9266,125.4092,62.73,68,92,3.71,overcast clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,46.51,81,75,6.91,light rain
3,3,Busselton,AU,-33.6500,115.3333,59.40,73,100,19.93,overcast clouds
4,4,Orange Cove,US,36.6244,-119.3137,97.97,14,1,7.23,clear sky

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>=min_temp) & (city_data_df["Max Temp"]<=max_temp)]
preferred_cities_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
12,12,Bengkulu,ID,-3.8004,102.2655,76.33,83,100,4.12,light rain
18,18,Bara,NG,10.3744,10.7288,77.56,74,77,9.06,broken clouds
27,27,Akdepe,TM,42.0551,59.3788,77.13,21,0,4.81,clear sky
29,29,Alta Floresta,BR,-9.8756,-56.0861,77.38,60,100,4.21,overcast clouds
36,36,Butaritari,KI,3.0707,172.7902,82.56,67,14,14.41,few clouds

In [21]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [30]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna(inplace=True) 
clean_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

C:\Users\julie\anaconda3\envs\PythonData\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [33]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,Bengkulu,ID,76.33,light rain,-3.8004,102.2655,
18,Bara,NG,77.56,broken clouds,10.3744,10.7288,
27,Akdepe,TM,77.13,clear sky,42.0551,59.3788,
29,Alta Floresta,BR,77.38,overcast clouds,-9.8756,-56.0861,
36,Butaritari,KI,82.56,few clouds,3.0707,172.7902,
37,Ibra,OM,77.77,clear sky,22.6906,58.5334,
39,Gaoua,BF,75.36,overcast clouds,10.2992,-3.2508,
41,Meulaboh,ID,75.97,overcast clouds,4.1363,96.1285,
45,Vaini,TO,77.04,overcast clouds,-21.2000,-175.2000,
46,Akhnur,IN,84.33,overcast clouds,32.8667,74.7333,

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found..skipping.")

Hotel not found..skipping.
Hotel not found..skipping.
Hotel not found..skipping.
Hotel not found..skipping.
Hotel not found..skipping.
Hotel not found..skipping.
Hotel not found..skipping.
Hotel not found..skipping.
Hotel not found..skipping.
Hotel not found..skipping.
Hotel not found..skipping.
Hotel not found..skipping.

In [51]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,Bengkulu,ID,76.33,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
18,Bara,NG,77.56,broken clouds,10.3744,10.7288,
27,Akdepe,TM,77.13,clear sky,42.0551,59.3788,
29,Alta Floresta,BR,77.38,overcast clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
36,Butaritari,KI,82.56,few clouds,3.0707,172.7902,Isles Sunset Lodge

In [64]:
import numpy as np
hotel_df.replace('', np.nan, inplace=True)
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,Bengkulu,ID,76.33,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
29,Alta Floresta,BR,77.38,overcast clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
36,Butaritari,KI,82.56,few clouds,3.0707,172.7902,Isles Sunset Lodge
37,Ibra,OM,77.77,clear sky,22.6906,58.5334,مزرعة راحة النفوس المنزفة
41,Meulaboh,ID,75.97,overcast clouds,4.1363,96.1285,Kost Pria

In [75]:
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
clean_hotel_df = hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]].copy()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,Bengkulu,ID,76.33,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
29,Alta Floresta,BR,77.38,overcast clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
36,Butaritari,KI,82.56,few clouds,3.0707,172.7902,Isles Sunset Lodge
37,Ibra,OM,77.77,clear sky,22.6906,58.5334,مزرعة راحة النفوس المنزفة
41,Meulaboh,ID,75.97,overcast clouds,4.1363,96.1285,Kost Pria

In [76]:
# 8a. Create the output File (CSV)
output_data_file = "Weather_Database\WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [71]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [72]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content =hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))